:root {
    --headerheight: 2rem;
    --headerPaddingTop: .5rem;
}

body {
    margin: 0; padding:0;
    text-align: center;
    line-height: 1.5;
    font-size:150%;
    color: #222;
    background-color: rgb(255, 250, 240);
}

body > * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5vw;
    padding-right: 5vw;
}

#header {
    width: 100vw;
    height: calc(var(--headerheight) - 1px);
    margin: 0;
    padding-top: var(--headerPaddingTop);
    background-color: rgba(255,250,240,.9);
    position: fixed;
    top:0;
    left: 0;
    text-align: left; 
    border-bottom: 1px solid black;
}

#header h2 {
    width: fit-content;
    max-width: 40rem;
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

#content {
    padding-top: /* to accommodate the fixed header */ calc(var(--headerheight) + var(--headerPaddingTop)); 
    text-align: center;
}

#content > * ,
#content > #articleText > * {
    margin-left: auto; margin-right: auto;
}
h1,h2,p,.infogram-embed,iframe {
    width: 90vw;
    max-width: 40rem;
    margin-left: auto; margin-right: auto;
}

h1 {
    font-size: 130%;
    line-height: 108%; 
}

h2 {
    font-size: 95%;
    text-align: left;
    margin-top: 2.25rem;
}

p.author {
    text-align: center;
    font-size: 1rem;
}
p+h1 {
    margin-top: -.75rem;
}

hr {
    max-width: 40rem;
}

#articleText { 
    margin-top: 2rem;
}

p {
    font-size: 70%;
    text-align: left;
}

p.aboutProject {
    background-color: #fcc000;
    border-radius: .5rem;
    padding: 1rem;
}

img {
    width: 40rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img.hero{
    /* max-width: none; */
}

footer {
    margin-left: auto; margin-right: auto;
    border-top: 1px solid black;
    width :fit-content;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 3.3rem;
}