body {
    margin: 0; padding:0;
    text-align: center;
    line-height: 1.5;
    font-size:200%;
    color: #222;
}

#header {
    width: 100vw;
    height: calc(2rem - 1px);
    margin: 0;
    padding: .5rem .25rem 0 1rem;
    background-color: rgba(255,255,255,.9);
    position: fixed;
    top:0;
    left: 0;
    text-align: left; 
    border-bottom: 1px solid black;
}

#header h2 {
    width: fit-content;
    max-width:100%;
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

#content {
    padding-top: 2.5rem;
}

.footer {
    font-size: 40%;
    padding-top: 30px;
}

#women {
    width: 40rem;
    max-width: 90vw;
    margin: 2rem auto;
}

#women>* {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    max-width: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 130%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70%;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}