@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,300;1,900&display=swap');

:root {
    /* CSS variables */
    --fontscale: 2/3;
    --blackish: hsl(45, 22%, 10%);
    --paper-light: hsl(46, 76%, 97%);
    --paper-dark: hsl(44, 74%, 90%);
    --yellow: hsl(48, 100%, 50%);
    /* --autumn: hsl(33, 60%, 50%); */
    --autumn: hsl(41, 65%, 42%);
    --green: hsl(167, 100%, 30%);
    --protected: hsl(151, 100%, 22%);
    --wood: hsl(17, 58%, 38%);
    --fire: hsl(16, 57%, 50%);
    --firedarker: hsl(16, 100%, 38%);
    --treewidth:
        /* placeholder */
        100px;
}

@media (min-width: 24rem) {
    :root {
        --fontscale: 5/6;
    }
}

strong {
    font-weight: bold;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* text-transform: lowercase; */
    font-size: 125%;
}

html {
    /* disable default tap colour highlight */
    -webkit-tap-highlight-color: transparent;
}

body {
    --body-bg-colour-running: var(--paper-light);
    --body-bg-colour-paused: var(--paper-dark);
    background-color: var(--paper-light);
    transition: background-color 150ms ease-in-out 0ms;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 1.15rem;
    color: var(--blackish);
}

body * {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. | see: https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation, https://stackoverflow.com/a/53236027, and https://endtimes.dev/you-can-use-css-to-remove-the-double-tap-zoom-feature-on-ios/ */
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

audio {
    display: none;
}

h1,
h2,
h3,
p {
    text-align: left;
}

h1,
h2,
h3 {
    font-weight: 900;
}

h1 {
    font-size: calc(var(--fontscale) * 2.25rem);
    line-height: 110%;
}

h2 {
    font-size: calc(var(--fontscale) * 1.875rem);
    line-height: 112.5%;
}

h3 {
    font-size: calc(var(--fontscale) * 1.5rem);
    line-height: 115%
}

p {
    font-size: calc(var(--fontscale) * 1rem);
    line-height: 145%;
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

#playarea {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* z-index for #playarea should be lower than for #content */
    z-index: 0;
    /* ∵ z-index can not have an effect if position is 'static'. */
    position: relative;
}

#playarea * {
    width: 100%;
    max-width: calc(var(--fontscale) * 40rem);
    margin-left: auto;
    margin-right: auto;
}

#status {
    --borderColour: var(--blackish);
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 auto;
    width: calc(100% - 2rem);
    height: fit-content;
    max-height: 2rem;
    position: relative;
    top:
        /* placeholder. but it should be positioned out-of-view at the start. */
        -5rem;
    transition: top 300ms ease-in-out 0ms;
    /* background: yellow; */
    border-top: 1px solid var(--borderColour);
}

#status .row {
    display: block;
    height: 1.2rem;
    margin-top: 0rem;
    position: unset;
    overflow: hidden;
    border-bottom: 1px solid var(--borderColour);
    text-align: left;
}

#status .row p.label {
    --rowheight: 1.2rem;
    z-index: 2;
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 50%;
    font-weight: bold;
    margin-top:0.13125rem;
}

#status #statusInfo.row p.label {
    margin-top: 0; 
}
#status #statusInfo.row p.label a {
    padding-top:0.13125rem;
    height: calc(var(--rowheight) - 1px);
}

#status .row p.label a {
    display: inline-block;
    text-align: center;
    background-color: var(--paper-light);
    border-right: 1px solid var(--borderColour);
    text-decoration: none;
    color: inherit;
    transition: background-color 150ms ease-in-out 0ms;
}

#status .row p.label a:first-child {
    border-left: 1px solid var(--borderColour);
}

#status .row p.label a[data-playing="true"] {
    background-color: var(--green);
}

#status .row p.label a[data-playing="false"] {
    background-color: var(--autumn);
}

#status .row .bar {
    z-index: 1;
    display: inline-block;
    height: inherit;
    margin: 0;
    opacity: .67;
    transition: width 300ms ease-in-out 0ms;
}

#statusPlanted p.label,
#statusClicks p.label,
#statusTime p.label {
    padding-left: 0.1875rem;
}

#barPlanted {
    background-color: var(--protected);
    width:
        /* updated by script */
        0%;
}

#barTime {
    background-color: grey;
    width:
        /* updated by script */
        0%;
    transition-duration: 600ms;
}

#barClicks {
    background-color: var(--protected);
    width:
        /* updated by script */
        0%;
}

#forest {
    /* background-color: var(--green); */
    max-width: 100%;
    flex: 1 1 auto;
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}

#forest .tree {
    /* opacity: .8; */
    /* background-color: var(--yellow); */
    /* border: 1px solid black; */
    width:
        /* placeholder */
        var(--treewidth);
    height: fit-content;
    position: absolute;
    /* this helps us position the div's using js (by setting the style.top & style.left properties) */
}

#forest .tree svg {
    height: fit-content;
}

#forest .tree svg .invisible {
    opacity: 0;
}

#forest .tree svg path,
#forest .tree svg polyline,
#forest .tree svg polygon {
    fill: #000;
    stroke: #000;
    stroke-width: 2px;
}

#forest .tree svg .foliage {
    fill: var(--green);
}

#forest .tree svg .fire {
    fill: var(--fire);
    opacity: .8333;
}

#forest .tree svg .stump {
    fill: var(--blackish);
}

#forest .tree svg.normal .foliage {
    fill: var(--green);
}

#forest .tree svg.protected .foliage,
#forest .tree svg.protected.normal .foliage {
    fill: var(--protected);
}

#forest .tree svg.dry .foliage {
    fill: var(--autumn);
}

#forest .tree svg.burning .foliage {
    fill: var(--autumn);
}

#forest .tree svg.burning .stump {
    opacity: .05;
}

#content {
    width: 100%;
    background-color: var(--paper-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    height:
        /* placeholder. should be set to 0 (at start) so that the #content div is not visible. */
        0;
    padding:
        /* placeholder */
        0;
    border-top:
        /* placeholder */
        none;
    overflow:
        /* placeholder */
        hidden;
    transition: all 300ms ease-in-out 0ms;
    /* z-index for #content should be higher than for #playarea */
    z-index: 1;
    /* ∵ z-index can not have an effect if position is 'static'. */
    position: relative;
}

#content>* {
    /* flex-grow: 0; flex-shrink: 1; flex-basis: auto */
    flex: 0 0 auto;
    width: 100%;
    max-width: calc(var(--fontscale) * 40rem);
    text-align: left;
}

#content #footer {
    border-top: .1rem solid black;
    margin-top: 1rem;
}

#info {
    --infoWidth: calc(var(--fontscale) * 24rem);
    width: var(--infoWidth);
    left: calc(50vw - var(--infoWidth)/2);
    /* background-color: #fcc00077; */
    position: fixed;
    overflow: visible;
    bottom: 0;
    /* top:calc(100vh - 5rem); */
    height: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#info #infoBox {
    position: absolute;
    width: var(--infoWidth);
    bottom:
        /* placeholder */
        -100vh;
    height:
        /* placeholder */
        calc(100vh - 2rem);
    overflow: hidden;
    opacity:
        /* placeholder */
        1;
    transition:
        /* value for transition-duration is a placeholder */
        all 300ms ease-in-out 0ms;
    background: rgba(255, 255, 255, .95);
    padding: 0 0 .5rem 0rem;
    border: 1px solid black;
    border-top: .67rem solid black;
    cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Ccircle cx='3.84' cy='3.84' r='3.84' style='fill:%23fff;' /%3E%3Cpath d='M3.84,0c2.119,0 3.84,1.721 3.84,3.84c0,2.119 -1.721,3.84 -3.84,3.84c-2.119,0 -3.84,-1.721 -3.84,-3.84c0,-2.119 1.721,-3.84 3.84,-3.84Zm0,0.5c1.843,0 3.34,1.497 3.34,3.34c0,1.843 -1.497,3.34 -3.34,3.34c-1.843,0 -3.34,-1.497 -3.34,-3.34c0,-1.843 1.497,-3.34 3.34,-3.34Z' /%3E%3Cpath d='M4.823,5.507l-0,0.625l-1.805,-0l0,-0.625l0.558,-0l-0,-2.318l-0.558,-0l0,-0.629l1.261,0l0,2.947l0.544,-0Z' /%3E%3Cpath d='M4.32,1.681c-0,0.115 -0.042,0.215 -0.126,0.299c-0.084,0.084 -0.183,0.126 -0.299,0.126c-0.115,-0 -0.214,-0.042 -0.296,-0.126c-0.081,-0.084 -0.122,-0.184 -0.122,-0.299c0,-0.116 0.041,-0.216 0.122,-0.299c0.082,-0.084 0.181,-0.126 0.296,-0.126c0.12,-0 0.221,0.041 0.303,0.122c0.081,0.082 0.122,0.183 0.122,0.303Z' /%3E%3C/svg%3E") 16 16, pointer;
}

#info #infoBox[infotype='1'] {
    background-color: var(--paper-light);
}

#info #infoBox[infotype='2'] {
    background-color: var(--autumn);
}

#info #infoBox[infotype='8'] {
    background-color: var(--paper-dark);
}

#info #infoBox[infotype='0'] {
    background-color: var(--green);
}

#info #infoBox p,
#info #infoBox h3 {
    padding: 0 1.5rem;
}

#info #infoBox .headline {
    /* background-color: lightblue; */
    margin: .75rem auto auto;
    font-weight: bold;
}

#info #infoBox .quote {
    --leftmargin: 1.5rem;
    margin-left: var(--leftmargin);
    width: calc(100% - var(--leftmargin));
    border-left: 1px solid black;
    padding: 0.03125rem .5rem;
}

#info #infoBox .date {
    font-style: italic;
}

#info #infoBox button {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
    padding: .25rem 1rem;
    border-radius: .5rem;
    box-shadow: none;
    width: calc(100% - 3rem);
    background-color: inherit;
    margin: 1rem auto;
    text-align: center;
    color: black;
    font-weight: bold;
    /* font-style: italic; */
    border: 1px solid black;
}

#info #infoBox button p {
    padding: 0;
}

#info #infoBox button+button {
    margin-top: 0;
}