@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,300;1,900&display=swap');

:root {
    /* CSS variables */
    --blackish: hsl(0, 0%, 10%);
    --paper-light: hsl(46, 76%, 97%);
    --paper-dark: hsl(44, 74%, 90%);
    --yellow: hsl(48, 100%, 50%);
    /* --autumn: hsl(33, 60%, 50%); */
    --autumn: hsl(41, 65%, 42%);
    --green: hsl(167, 100%, 30%);
    --protected: hsl(151, 100%, 22%);
    --wood: hsl(17, 58%, 38%);
    --fire: hsl(16, 57%, 50%);
    --firedarker: hsl(16, 100%, 38%);
    --treewidth: /* placeholder */ 100px; 
}

html, body {
    height: 100%;
    margin: 0; padding: 0;
    /* text-transform: lowercase; */
    font-size: 125%;
}

html {
    /* disable default tap colour highlight */
    -webkit-tap-highlight-color: transparent;
}

body {
    --body-bg-colour-running: var(--paper-light);
    --body-bg-colour-paused : var(--paper-dark) ;
    background-color: var(--paper-light);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 1.15rem;
    color: var(--blackish);
}

body * {
    touch-action: manipulation; /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. | see: https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation, https://stackoverflow.com/a/53236027, and https://endtimes.dev/you-can-use-css-to-remove-the-double-tap-zoom-feature-on-ios/ */
}

h1, h2, h3, p {
    text-align: left;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
    line-height: 115%
}

p {
    font-size: .67rem;
    line-height: 135%;
}
a {
    color: var(--blackish);
}

p#essay {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    border-top:.5rem solid black;
    position: relative; z-index: 10;
}

#container {
    margin: 1rem auto;
    width: calc(100% - 2rem);
    max-width: 60rem;
    display: flex; 
    flex-flow: column;
    height: calc(100vh - 2rem);
}

#container * {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

#header {
    flex: 0 1 auto; /* flex-grow: 0; flex-shrink: 1; flex-basis: auto */
}

#startinfo {
    background-color: var(--paper-light);
    overflow:hidden;
    display: block;
    position: fixed;
    --infoWidth: 16rem;
    bottom: /* placeholder */ -100vh;
    transition: bottom /* transition-duration = placeholder */300ms ease-in-out 0ms;
    width: var(--infoWidth);
    max-width: 20rem;
    left: calc(50vw - (var(--infoWidth)/2));
    /* border-radius: 1rem; */
    --borderwidth: 2px;
    border: var(--borderwidth) solid black;
    /* background-color: var(--green); */
    text-align: center;
    color:black;
}
#startinfo > h3,
#startinfo > p {
    text-align: left;
    width:calc(100% - 2rem - (2*var(--borderwidth)));
    margin-left: auto;
    margin-right: auto;
}
#startinfo > p {
    font-style: italic;
}
#startinfo hr {
    border: none;
    border-bottom: calc(var(--borderwidth)/2) solid black;
    margin: 1rem 0 0;
}
#startinfo button {
    padding: .25rem 1rem;
    border-radius: .5rem;
    box-shadow: none;
    width:calc(100% - 2rem);
    background-color: var(--green);
    margin: 1rem auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: italic;
    border: 1px solid black;
}

#forest {
    /* background-color: var(--green); */
    max-width: 100%;
    flex: 1 1 auto;
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

#forest .tree {
    /* opacity: .8; */
    /* background-color: var(--yellow); */
    /* border: 1px solid black; */
    width: /* placeholder */ var(--treewidth);
    height:fit-content;
    position: fixed; /* this helps us position the div's using js (by setting the style.top & style.left properties) */
}

#forest .tree svg {
    height:fit-content;
}

#forest .tree svg path {
    fill:#fff;
    stroke:#000;
    stroke-width:6px;
}

#forest .tree svg path.foliage {
    /* fill: var(--autumn); */
}

#forest .tree svg path.stump {
    /* fill: var(--wood); */
}

#forest .tree svg path.fire {
    /* fill: var(--fire); */
}

#info {
    --infoWidth: 16rem;
    /* background-color: #fcc00077; */
    position: fixed;
    overflow: visible;
    bottom:0;
    /* top:calc(100vh - 5rem); */
    width: var(--infoWidth);
    left: calc(50vw - var(--infoWidth)/2);
    height: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#infoBox {
    position: absolute;
    width: var(--infoWidth);
    bottom: /* placeholder */ -100vh;
    height: /* placeholder */ calc(100vh - 2rem);
    overflow: hidden;
    opacity: /* placeholder */ 1;
    transition: all /* transition-duration = placeholder */300ms ease-in-out 0ms;
    background: rgba(255,255,255,.95);
    padding: 0 0 .5rem 0rem;
    border: 1px solid black;
    border-top: .67rem solid black;
    cursor: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Ccircle cx='3.84' cy='3.84' r='3.84' style='fill:%23fff;' /%3E%3Cpath d='M3.84,0c2.119,0 3.84,1.721 3.84,3.84c0,2.119 -1.721,3.84 -3.84,3.84c-2.119,0 -3.84,-1.721 -3.84,-3.84c0,-2.119 1.721,-3.84 3.84,-3.84Zm0,0.5c1.843,0 3.34,1.497 3.34,3.34c0,1.843 -1.497,3.34 -3.34,3.34c-1.843,0 -3.34,-1.497 -3.34,-3.34c0,-1.843 1.497,-3.34 3.34,-3.34Z' /%3E%3Cpath d='M4.823,5.507l-0,0.625l-1.805,-0l0,-0.625l0.558,-0l-0,-2.318l-0.558,-0l0,-0.629l1.261,0l0,2.947l0.544,-0Z' /%3E%3Cpath d='M4.32,1.681c-0,0.115 -0.042,0.215 -0.126,0.299c-0.084,0.084 -0.183,0.126 -0.299,0.126c-0.115,-0 -0.214,-0.042 -0.296,-0.126c-0.081,-0.084 -0.122,-0.184 -0.122,-0.299c0,-0.116 0.041,-0.216 0.122,-0.299c0.082,-0.084 0.181,-0.126 0.296,-0.126c0.12,-0 0.221,0.041 0.303,0.122c0.081,0.082 0.122,0.183 0.122,0.303Z' /%3E%3C/svg%3E") 16 16, pointer;
}
#infoBox[infotype='1'] {
    background-color: var(--paper-light);
}
#infoBox[infotype='2'] {
    background-color: var(--paper-light);
}
#infoBox[infotype='3'] {
    background-color: var(--green);
}
#infoBox[infotype='4'] {
    background-color: var(--fire);
}
#infoBox[infotype='0'] {
    background-color: var(--paper-dark);
}
#infoBox p,
#infoBox h3 {
    padding: 0 1.5rem;
}
#infoBox *.headline {
    /* background-color: lightblue; */
    margin: .75rem auto auto;
    font-weight: bold;
}
#infoBox *.quote {
    --leftmargin: 1.5rem;
    margin-left: var(--leftmargin); 
    width: calc(100% - var(--leftmargin));
    border-left: 1px solid black;
    padding: 0.03125rem .5rem;
}
#infoBox *.date {
    font-style: italic;
}

#infoBox button#dismissInfoBoxIcon {
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer; 
    padding: .25rem 1rem;
    border-radius: .5rem;
    box-shadow: none;
    width:calc(100% - 3rem);
    background-color: inherit;
    margin: 1rem auto;
    text-align: center;
    color: black;
    font-weight: bold;
    /* font-style: italic; */
    border: 1px solid black;
}
#infoBox button#dismissInfoBoxIcon p {
    padding: 0;
}