@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,300;1,900&display=swap');

:root {
    /* CSS variables */
    --yellow: #ffcc00;
    /* --autumn: #cc8833; */
    --autumn: #b18425;
    --green: #009977;
    --wood: #994929;
    --fire: #C95E38;
    --firedarker: #c03300;
    --treewidth: /* placeholder */ 100px; 
}

html {
    margin: 0; padding: 0;
    /* disable default tap colour highlight */
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0; padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.45rem;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);
    max-width: 60rem;
    text-align: left;
}

#container * {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 900;
}

#forest {
    /* background-color: var(--green); */
    max-width: 100%;
    height: 100vh;
    /*  change cursor's appearance, by using an SVG.
        info: https://stackoverflow.com/a/45966695 
        */
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}

svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
}

#forest .tree {
    /* opacity: .8; */
    /* background-color: var(--yellow); */
    /* border: 1px solid black; */
    width: /* placeholder */ var(--treewidth);
    height:fit-content;
    position: fixed; /* this helps us position the div's using js (by setting the style.top & style.left properties) */
}

#forest .tree svg path {
    fill:#fff;
    stroke:#000;
    stroke-width:6px;
}

#forest .tree svg path.foliage {
    /* fill: var(--autumn); */
}

#forest .tree svg path.stump {
    /* fill: var(--wood); */
}

#forest .tree svg path.fire {
    /* fill: var(--fire); */
}